In [3]:
n=int(input("n="))
t=[int]*n
r=1
for i in range (n):
    print("t[",i+1,"]=")
    t[i]=int(input(""))
    r=r*t[i]
print("résultat=",r)

n=3
t[ 1 ]=
4
t[ 2 ]=
5
t[ 3 ]=
9
résultat= 180

In [2]:
t=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(t)-1):
    for j in range (len(t)-1):
        if t[j][1]>t[j+1][1]:
            t[j] , t[j+1]=t[j+1] , t[j]
print(t)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [4]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3={}
for i in range (3):
    s1=list(d1.keys())
    s2=list(d2.keys())
    if s1[i]==s2[i]:
        a=list(d1.values())[i]+list(d2.values())[i]
        d3[list(d1.keys())[i]]=a
    else :
        d3[list(d1.keys())[i]]=list(d1.values())[i]
        d3[list(d2.keys())[i]]=list(d2.values())[i]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [5]:
n=int(input("n="))
d={}
for i in range (1,n+1):
    d[i]=i*i
print(d)

n=8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [36]:
def order(f):
    return f

L = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
length = len(L)
for i in L:
  f = float(i[1])
  
  L.sort(key=order, reverse=True)
print(L)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]